.TransactionRoot{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px 60px;
}
.TxBlockWrap{
    border: 1px solid #252525;
    background-color: #161616;
    padding: 20px 16px;
    /* width: fit-content; */
    border-radius: 6px;
    width: 666px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.TransactionBlockWrap{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.TxType{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-family: SF Pro Display;
    font-size: 15.13px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.TxType .Txstatus{
    font-family: SF Pro Display;
    font-size: 13.34px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #039855;
    
}
.txStatus{
    background-color: #0D1116;
    border: 1px solid #222729;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
}
.TxBlockWrap .txHash{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.TxBlockWrap .txHash .txHashLabel{
    font-family: SF Pro Display;
    font-size: 14.75px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #909090;
}
.TxBlockWrap .txHash .txHashValue{
    font-family: SF Pro Display;
    font-size: 14.75px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C1D4FF;
    display: flex;
    column-gap: 8px;
}
.TxBlockWrap .txHash img{
    cursor: pointer;
}
.txHashChain{
    display: flex;
    align-items: center;
}
.txHashChain .tokenTransfer,
.txHashChain .chainInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.chainTitle{
    font-family: SF Pro Display;
    font-size: 15.25px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #909090;
}
.chainValue{
    display: flex;
    align-items: center;
    font-family: SF Pro Display;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E6E8EB;
    column-gap: 8px;
}
.chainValue img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.SettlementWrap{
    display: flex;
    justify-content: center;
}
.settlementHashBlock{
    background-color: #0D1116;
    border: 1px solid #222729;
    font-family: SF Pro Display;
    font-size: 15.13px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#E6E8EB;
    padding: 18px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    column-gap: 32px;
    border-radius: 24px;
}
.settlementHashBlock span{
    font-family: SF Pro Display;
    font-size: 15.13px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C1D4FF;
}
.settlementHashBlock .helpers{
    display: flex;
    align-items: center;
    column-gap: 10px;
}