.d-flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.d-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bridgeTitle{
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;

}
.BridgeAppRoot{
    max-width: 476px;
    width: 100%;
    margin: 50px auto;
    position: relative;
}
.bridgeApp{
    border: 1px solid #222729;
    row-gap: 10px;
    padding: 8px;
    border-radius: 16px;
    position: relative;
}
.CurrencySwitcher{
    position: absolute;
    top:28%;
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.TokenWrapRoot{
    background-color: #121719;
    border-radius: 12px;
    padding: 20px;
}
.TokenWrapRoot .right-sec{
    margin-left: auto;
    row-gap: 10px;
    align-items: end;
}
.TokenWrapRoot .left-sec{
    row-gap: 10px;
}
.TokenWrapRoot .left-sec input{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: SF Pro Display;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    color: #FFF;
}
.TokenWrapRoot .left-sec .label{
    font-family: SF Pro Display;
    font-size: 11px;
    font-weight: 500;
    line-height: 16.5px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#878794;
}
.TokenWrapRoot .left-sec .input-in-dollars{
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color:#878794;
    margin-top: -8px;
}
.select-token{
    column-gap: 10px;
    background-color: #020202;
    border-radius: 53.33px;
    padding: 10px 30px;
    backdrop-filter: blur(26.399999618530273px);
    box-shadow: 0px 0px 0px 1.33px #FFFFFF12 inset;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.02em;
}
.TokenWrapRoot .right-sec .balance-sec{
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#878794;
}
.TokenWrapRoot .right-sec .balance-sec span{
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color:#fff;
    margin-left: 5px;
}
.TokenWrapRoot input.receive-token{
    pointer-events: none;
}
.TokenWrapRoot .right-sec img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.showQuote{
    padding: 16px;
    background-color: #121719;
}
.showQuote .left-sec{
    column-gap: 6px;
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: -0.02em;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.showQuote .left-sec img{
    width: 12px;
    height: 12px;
}
.showQuote .right-sec{
    margin-left: auto;
}
.showQuote .right-sec button{
    background-color: #020202;
    border: 1px solid #1E1E21;
    border-radius: 12px;
    padding: 4px 8px;
    font-family: SF Pro Display;
    font-size: 11px;
    font-weight: 400;
    line-height: 15.4px;
    letter-spacing: -0.02em;
    text-align: left;

}
.submit-btn{
    background: linear-gradient(0deg, #8081F9, #8081F9),linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid linear-gradient(180deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 1px 2px 0px #E56A125C, 0px 1px 0px 0px #FFFFFF2B inset;
    border-radius: 16px;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 10px;
    width: 100%;

}
