.ConnectWalletRoot{
    position: absolute;
    right: 30px;
    top:10%;
    background-color: #0D1116;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #222729;
    width: 400px;
}
.ConnectWalletRoot .title{
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.wallet-conector-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    row-gap: 10px;
}
.wallet-conector-wrap button,
.wallet-conector-wrap button:hover{
    background-color: #5a5a5a;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px #E56A125C, 0px 1px 0px 0px #FFFFFF2B inset;
    border-radius: 16px;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 284px; */
    min-width: 284px;
    width:100%;

}
.wallet-conector-wrap .wkit-disconnect-button{
    background-color: #b4b3b3;
}
/* .wallet-conector-wrap .wkit-button{
    background-color: aqua;
}
.wallet-conector-wrap .evm-wallet{
    width: 100%;
    background-color: aqua;
} */
 .balanceWrap{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    margin-top: 10px;
 }
 .balanceWrap .balanceWraptitle{
    font-family: SF Pro Display;
    font-size: 11px;
    font-weight: 500;
    line-height: 16.5px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#878794;
 }
 .chain{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    max-width: 100%;
 }
 .chain img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
 }
 .chain .chainInfo{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
 }
.chain .chain-name{
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#FFFFFF;
}
.chain .balance{
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#878794;
}
.chain .balanceInUSD{
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.02em;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#fff;
    margin-left: auto;
}
.evm-address{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.evm-address img{
    margin-left: auto;
}
.evm-address .lables{
    display: flex;
    flex-direction: column;

}
.evm-address .lables .lable{
    font-family: SF Pro Display;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.evm-address .lables .address{
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#878794;
}