.App{
  background-color: #0D1116;
  max-width: 100%;
  /* padding-bottom: 200px; */
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #FFFFFF;
  position: relative;
  font-family: SF Pro Display !important;
}
:root {
  --bg_light: rgba(249, 250, 251,1);
  --white: #ffffff;
}
.toolkits{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.d-flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.d-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ml-auto{
  margin-left:auto ;
}